@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: semibold;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LeagueGothic;
  src: url('../fonts/LeagueGothic.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

:root {
  --light-green: #2ad18a;
  --black: #000;
  --light-gray: #e8eaed;
}

body {
  font-size: 18px;
  font-family: Inter, sans-serif;
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 14px 24px;
}

.header__inner {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  color: var(--light-green);
  text-decoration: none;
  margin-left: 8px;
}

.header__menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__menu-list {
  font-family: Inter;
  font-weight: 400;
  display: flex;
  gap: 33px;
}

.header__menu-link {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
}

.header__menu-link:hover {
  text-decoration: underline;
}

.header__button {
  background-color: var(--light-green);
  border-radius: 8px;
  border: none;
  padding: 11px 24px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.header__button:hover {
  background-color: #81fdc7;
}

.news-row {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.news-row-reversed {
  flex-direction: row-reverse;
}

.featured-card {
  max-width: 620px;
  cursor: pointer;
}

.featured-card__image-wrapper {
  max-width: 620px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-card:hover .featured-card__image-wrapper {
  opacity: 0.8;
}

.featured-card__image {
  width: 100%;
  object-fit: cover;
}

.featured-card__content {
  margin-top: 24px;
}
.featured-card__title {
  font-family: LeagueGothic;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 0.08rem;
  margin-bottom: 30px;
}

.featured-card:hover .featured-card__title {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.featured-card__text {
  line-height: 1.6;
  letter-spacing: 0.01rem;
}

.news-list {
  width: 620px;
}

.news-list__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  color: var(--light-green);
  margin-left: 48px;
  margin-bottom: 13px;
}

.mini-card {
  display: flex;
  margin-bottom: 24px;
  gap: 16px;
  cursor: pointer;
}

.mini-card:last-child {
  margin-bottom: 0px;
}

.mini-card__number {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-green);
  background-color: var(--light-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mini-card__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 355px;
}

.mini-card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

.mini-card:hover .mini-card__title {
  text-decoration: underline;
}

.mini-card__author {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--light-green);
}

.mini-card__data {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #9da3ae;
}

.mini-card__time {
  padding-right: 10px;
  margin-right: 14px;
  font-weight: 500;
  border-right: 1px #9da3ae solid;
}

.mini-card__comments {
  display: flex;
  align-items: center;
  gap: 6px;
}

.mini-card__image-wrapper {
  width: 200px;
  height: 124px;
  display: flex;
  justify-content: center;
  background-color: #dfdee7;
  overflow: hidden;
}

.mini-card:hover .mini-card__image-wrapper {
  opacity: 0.8;
}

.mini-card__image {
  object-fit: cover;
}

.news-grid {
  padding: 40px 0;
}

.news-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 37px;
}

.grid-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;
}

.grid-card__image-wrapper {
  max-width: 290px;
}

.grid-card:hover .grid-card__image-wrapper {
  opacity: 0.8;
}

.grid-card__image {
  width: 100%;
}

.grid-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.grid-card:hover .grid-card__title {
  text-decoration: underline;
}

.grid-card__text {
  line-height: 1.6;
  letter-spacing: 0.1px;
}

.footer {
  border-top: 1px #000 solid;
  margin-top: 40px;
}

.footer__inner {
  padding: 85px 0;
}

.footer__logo {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  margin-top: 33px;
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__item:not(:last-child)::after {
  content: '/';
  margin: 0 5px;
  color: #000;
}

.footer__link {
  text-decoration: none;
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: #000;
}

.footer__link:hover {
  text-decoration: underline;
}

#scroll-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;

  opacity: 0;
  transform: translateY(50px);
  transition: all 0.4s ease;
  pointer-events: none;
}

#scroll-button:hover {
  background-color: #e9e9e9;
}

#scroll-button.show-btn {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__button--mobile {
  display: none;
}

.header__button--desktop {
  display: block;
}

.header__burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  padding: 0;
  z-index: 1001;
}

.header__burger span {
  width: 100%;
  height: 2px;
  background-color: var(--black);
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media (max-width: 1280px) {
  .featured-card,
  .news-list,
  .featured-card__image-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .featured-card__image-wrapper {
    height: auto;
    max-height: 400px;
  }

  .news-row-reversed {
    flex-direction: column;
  }

  .news-row {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  .news-list__title {
    margin-top: 0;
    margin-left: 0;
  }

  .footer__inner {
    padding: 40px 0;
  }

  .footer {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 8px;
  }
  .news-grid__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
}

@media (max-width: 900px) {
  .header__button--desktop {
    display: none;
  }

  .header__button--mobile {
    display: block;
    margin: 30px auto 0;
    width: 100%;
    max-width: 200px;
  }

  .header__burger {
    display: flex;
    margin-left: 20px;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    padding: 100px 20px;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .header__menu.is-active {
    transform: translateX(0);
  }

  .header__menu-list {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 24px;
  }

  .header__burger.is-active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .header__burger.is-active span:nth-child(2) {
    opacity: 0;
  }
  .header__burger.is-active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  body.no-scroll {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .header__logo {
    margin: 0;
  }

  .featured-card__title {
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 16px;
  }

  .mini-card {
    margin-bottom: 12px;
  }

  .mini-card__title,
  .grid-card__title {
    font-size: 18px;
  }

  .mini-card__author {
    font-size: 14px;
  }

  .news-row {
    padding: 10px 0;
  }

  /* body {
    font-size: 14px;
  } */

  .featured-card__content {
    margin-top: 10px;
  }

  .mini-card__image-wrapper {
    width: 160px;
    height: 100px;
    flex-shrink: 0;
  }

  .mini-card__number {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  .news-grid {
    padding: 20px 0;
  }

  .footer__inner {
    padding: 20px 0;
  }

  .footer__menu {
    margin-top: 20px;
  }
  .footer {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .featured-card__title {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 8px;
  }

  .featured-card__text {
    line-height: 1.2;
  }

  .mini-card__title,
  .grid-card__title {
    line-height: 1.1;
  }

  .mini-card__author {
    font-size: 12px;
  }

  .mini-card__image-wrapper {
    width: 120px;
    height: 90px;
    flex-shrink: 0;
  }

  .mini-card__time {
    font-size: 12px;
    margin-right: 6px;
    padding-right: 8px;
  }

  .mini-card__comments {
    font-size: 12px;
    gap: 3px;
  }

  .mini-card__comments img {
    width: 20px;
  }

  .news-grid__list {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }

  .grid-card__image-wrapper {
    max-width: 100%;
  }

  .grid-card {
    gap: 8px;
  }

  .grid-card__content {
    gap: 8px;
  }

  .grid-card__text {
    line-height: 1.1;
  }

  .footer__menu {
    flex-direction: column;
    gap: 8px;
  }

  .footer__item:not(:last-child)::after {
    content: '';
  }
}

@media (max-width: 500px) {
  .mini-card {
    gap: 6px;
  }

  .mini-card__description {
    max-width: 160px;
    gap: 0px;
  }
}
