@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LeagueGothic;
  src: url('../fonts/LeagueGothic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
  --light-green: #2ad18a;
  --black: #000;
  --light-gray: #e8eaed;
}

body {
  font-size: 18px;
  font-family: Inter, sans-serif;
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 14px 24px;
}

.header__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  color: var(--light-green);
  text-decoration: none;
  margin-left: 8px;
  margin-right: 35px;
}

.header__menu-list {
  font-family: Inter;
  font-weight: 400;
  display: flex;
  gap: 31px;
}

.header__menu-link {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
}

.header__menu-link:hover {
  text-decoration: underline;
}

.header__button {
  background-color: var(--light-green);
  border-radius: 8px;
  border: none;
  padding: 11px 24px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 142px;
}

.header__button:hover {
  background-color: #81fdc7;
}

.news-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}

.featured-card {
  max-width: 620px;
}

.featured-card__image-wrapper {
  max-width: 620px;
  overflow: hidden;
}

.featured-card__image {
  width: 100%;
  object-fit: cover;
}

.featured-card__content {
  margin-top: 24px;
}
.featured-card__title {
  font-family: LeagueGothic;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 0.07rem;
  margin-bottom: 30px;
}

.featured-card__text {
  line-height: 1.6;
  letter-spacing: 0.01rem;
}

.news-list {
  width: 620px;
}

.news-list__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  color: var(--light-green);
  margin-left: 48px;
  margin-bottom: 16px;
}

.mini-card {
  display: flex;
  margin-bottom: 24px;
  gap: 16px;
}

.mini-card:last-child {
  margin-bottom: 0px;
}

.mini-card__number {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-green);
  background-color: var(--light-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mini-card__description {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 355px;
}

.mini-card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

.mini-card__author {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--light-green);
}

.mini-card__data {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #9da3ae;
}

.mini-card__time {
  padding-right: 10px;
  margin-right: 14px;
  font-weight: 500;
  border-right: 1px #9da3ae solid;
}

.mini-card__comments {
  display: flex;
  align-items: center;
  gap: 6px;
}

.mini-card__image-container {
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: #dfdee7;
  overflow: hidden;
}

.mini-card__image {
  object-fit: cover;
}

.news-grid {
  padding: 30px 0;
}

.news-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.grid-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-card__image-wrapper {
  max-width: 290px;
}

.grid-card__image {
  width: 100%;
}

.grid-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

.grid-card__text {
  line-height: 1.6;
  letter-spacing: 0.1px;
}

.footer {
  border-top: 1px #000 solid;
  margin-top: 50px;
}

.footer__inner {
  padding: 85px 0;
}

.footer__logo {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  margin-top: 32px;
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__item:not(:last-child)::after {
  content: '/';
  margin: 0 5px;
  color: #000;
}

.footer__link {
  text-decoration: none;
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: #000;
}

.footer__link:hover {
  text-decoration: underline;
}
